{% extends "products/product_base.html" %}
{% load static %}
{% block products_content %}
<div class = "col-md-8">
    <div class = "products-group">
        {% for product in product_list %}
            <div class = "list-product-item-text container-fluid">
                <td><ul><a href = "{{ product.get_absolute_url }}"><h5>{{product.name}}</h5></a></ul>
                    <ul><img src= "{{ product.image.url }}" alt="My image" style="width:100px;height:100px"></ul>
                    <ul>{{product.description}}</ul>         
                    <ul>{{product.price}} </ul>s
                </td>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}