<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AllSwap Web Application</title>
  <link rel="stylesheet" type="text/css" href="index.css" media="screen">
  <script src="index.js" type="text/javascript"></script>
  <script>
    document.addEventListener("DOMContentLoaded", main);
  </script>
</head>

<body>
  <p>
    AllSwap Web Application for SPARK<br>
    Web Platform for Buying/Selling Used Textbooks
  </p>
  <div id="textbook"></div>
</body>

</html>