<html>
<head>
<title>	First flask app </title>


</head>

<body>
<div id="banner">
		<a href="/">
			<img id="logo" src= {{ url_for('static', filename='images/logo.png') }} />
		</a>
	</div>
<p> {{error}} </p>
<form action="/login" method="POST">
	<p style = "font-family:Helvetica, Arial, sans-serif;font-size:16px;">Email: <input type="text" name="email"></p>
	<p style = "font-family:Helvetica, Arial, sans-serif;font-size:16px;">Password: <input type="password" name="password"></p>
	<p><input type="submit"></p>
	<a href="/registerationForm">Register here</a>
</form>

</body>
</html>
